@import "tailwindcss";

@theme {
  --color-steel: #232629;
  --color-iron: #44474a;
  --color-silver: #dddfe1;
  --color-snow: #fcfcfc;
  --color-accent-600: #42c5f5;
  --color-accent-800: #0b6c90;

  --clip-path-triangle-down: polygon(0 0, 100% 0, 50% 100%);

  --grid-areas-body: "header header header" "left main right"
    "footer footer footer";
  --grid-area-header: header;
  --grid-area-nav: nav;
  --grid-area-main: main;
  --grid-area-footer: footer;
}

@utility grid-areas-* {
  grid-template-areas: --value([*]);
  grid-template-areas: --value(--grid-areas-*);
}
@utility grid-area-* {
  grid-area: --value([*]);
  grid-area: --value(--grid-area-*);
}

@utility clip-path-* {
  clip-path: --value([*]);
  clip-path: --value(--clip-path-*);
}

@supports (word-break: auto-phrase) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-break: auto-phrase;
  }
}
