---
import DescriptionDetails from '../components/common/DescriptionDetails.astro';
import DescriptionList from '../components/common/DescriptionList.astro';
import DescriptionPair from '../components/common/DescriptionPair.astro';
import DescriptionTerm from '../components/common/DescriptionTerm.astro';
import ExternalLink from '../components/common/ExternalLink.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
	<section>
		<h2>About</h2>
		<p>
			このサイトは、フロントエンドの練習と実益を兼ねて作られた、突貫工事の実験作です。
		</p>
	</section>
	<section>
		<h2>Profile</h2>
		<DescriptionList>
			<DescriptionPair>
				<DescriptionTerm slot="term">
					名前
				</DescriptionTerm>
				<DescriptionDetails slot="descriptions">
					コウスケ
				</DescriptionDetails>
				<DescriptionDetails slot="descriptions">
					Kohsuke
				</DescriptionDetails>
			</DescriptionPair>
			<DescriptionPair etc>
				<DescriptionTerm slot="term">
					所属
				</DescriptionTerm>
				<DescriptionDetails slot="descriptions">
					<ExternalLink href="https://www.uec.ac.jp/">電気通信大学</ExternalLink> 情報理工学域
				</DescriptionDetails>
				<DescriptionDetails slot="descriptions">
					<ExternalLink href="https://mikuec.com/">バーチャルライブ研究会</ExternalLink>
				</DescriptionDetails>
			</DescriptionPair>
			<DescriptionPair etc>
				<DescriptionTerm slot="term">
					資格・試験
				</DescriptionTerm>
				<DescriptionDetails slot="descriptions">
					応用情報技術者試験 合格
				</DescriptionDetails>
			</DescriptionPair>
		</DescriptionList>
	</section>
</Layout>
